<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <!-- Important: bonus requirement implemented, ie "1,,2" will count as 2 dishes (not 3)! -->
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchMenu">
         </div>
         <div class="form-group">
             <button ng-click="countDishes()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <p style="color:{{fontColor}}; border-style:solid; border-color:{{fontColor}}">{{message}}</p>
         </div>
   </div>

</body>
</html>
